In [21]:
import tricahue
import pandas as pd

# XDE Test

In [22]:
files = ["C:/Users/smf12/SPUR/Tricahue/tests/test_files/ExpNOTs_GFP.xlsx", "C:/Users/smf12/SPUR/Tricahue/tests/test_files/ExpNOTs_GFP_trans.xlsx"]
sheet_name = "Table All Cycles"
time_col_name = "Time"
data_cols_offset = 11

XDC_file_name = "C:/Users/smf12/SPUR/Tricahue/tests/test_files/xperimental_data_connector_template.xlsx"

In [23]:
# initialize
xde = tricahue.XDE()

In [24]:
sample_list = xde.generateSampleData(files, sheet_name, time_col_name, data_cols_offset)
# sample_list

In [25]:
output_df = xde.buildFinalDF(files,
                             sample_list, 
                             time_col_name, 
                             data_cols_offset, 
                             num_rows_btwn_data=0, 
                             sheet_to_read_from=sheet_name)
# output_df.head()

['C:/Users/smf12/SPUR/Tricahue/tests/test_files/ExpNOTs_GFP.xlsx', 'C:/Users/smf12/SPUR/Tricahue/tests/test_files/ExpNOTs_GFP_trans.xlsx']

In [26]:
xde.writeToMeasurements(XDC_file_name, output_df)

In [27]:
xls = pd.ExcelFile(XDC_file_name)
measurement = pd.read_excel(xls, 'Measurement')
measurement.head()

  Measurement ID Sample ID Signal ID        Time  Value
0   Measurement0   Sample1   Signal1        0 h     740
1   Measurement1   Sample1   Signal1   0 h 4 min    754
2   Measurement2   Sample1   Signal1   0 h 8 min    770
3   Measurement3   Sample1   Signal1  0 h 12 min    773
4   Measurement4   Sample1   Signal1  0 h 16 min    777

# End